body{
  height: 100%;
  margin: 0;
  width: 100%;
}

h1 {
   font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
color:blue;
  text-align: center;
}

h3 {
	font-size: 28px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(121,149,117);
}

.hero {
  padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
 background-image: 
url https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAcmAAAAJGY5ZTI5YjgzLTBmZTEtNGM2Yy1hNGE2LTNiOWIyNmI4ODZhYQ.jpg 
}
